extends layout

block content
  h1= title
  each costume in results
    div
      strong Hat Type:
      span= costume.hat_type
    div
      strong Color:
      span= costume.color
    div
      strong price:
      span= costume.price
    hr