extends layout

block content
    h1= title

    form(id='CostumeForm' action="/resource/costumes" method="POST")
        div.form-group
            label.costumeAttr(for='hat_type') Hat type
            input#hat_type(type='text' name='hat_type')
        div.form-group
            label.costumeAttr(for='color') Hat Color
            input#color(type='text' name='color')
        div.form-group
            label.costumeAttr(for='price') Hat Price
            input#price(type='number' name='price')
        input(type="submit")

        script.
            document.forms['CostumeForm'].addEventListener('submit', (event) => {
                event.preventDefault();
                // TODO do something here to show user that form is being submitted
                fetch(event.target.action, {
                    method: 'POST',
                    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
                }).then((resp) => {
                    return resp.json(); // or resp.text() or whatever the server sends
                }).then((body) => {
                    alert("Save succeeded")
                    // TODO handle body
                }).catch((error) => {
                    // TODO handle error
                    alert("Save failed " + error )
                });
            });
